html {
    background: $base-grey;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    font-family: $font-name;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#content {
    width: 100%;
    max-width: 900px;
    background: #f8f8f8;
    padding: 10px 10px;
    margin: 0 auto;
    height: 100vh;
}