.post-list {
  padding: 20px 20px;

  .words-content {

  }

  .words-teasers {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;

    .words-teaser {
      margin: 10px 0;
      padding: 10px;

      .words-teaser-content {
        margin-right: 20px;
        a {
          color: black;
          text-decoration: none;

          &:hover {
            color: $base-red;
            text-decoration: underline;

          }


          h3 {
            margin-bottom: 0px;
            font-size: 1.25rem;
          }  
        }

        time {
          font-size: 0.90rem;
        }

        .words-teaser-content-summary {
          margin: 20px 0;

          p {
            margin: 0;
          }
        }

        .read-on {
          font-size: 1.10rem;

          &:after {
            content: '➔';
            transition: 0.5s transform ease;
            
            &:hover {
              transform: translateX(10px);
            }
          }
        }
      }
    }
  }
}

#post {
  padding: 20px 20px;
  
  .post-meta {
    h2 {
      margin-bottom: 10px;
    }

    .topics-and-tags {
      margin: 10px 0;

      .topics, .tags {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin: 10px 0;
        
        li {
          @media (min-width: 768px) {
            display: inline-block;
          }
        }
      }
      .topics {
        li { 
          margin: 10px 0 20px 0;   

          @media (min-width: 768px) {
            margin: 10px 0 10px 0;
          }      
          a {
            color: #ffffff;
            text-decoration: none;
            background-color: $base-red;
            padding: 5px 5px;
            margin: 5px 0;

            &:hover, &:focus {
              text-decoration: underline;
              @media (min-width: 768px) {
                text-decoration: none;
                border-bottom: 2px solid $base-yellow;
              }
            }
          }
        }
      }

      .tags {
        li {
          margin: 5px 0;
          
          a {
            color: #000000;
            text-decoration: none;
            border-bottom: 1px solid #000000;
  
            &:hover, &:focus {
              border-bottom: 2px solid $base-red;
            }
          }
        }
      }
    }
  }

  .post-content {
    padding: 5px 5px;
    margin-right: 20px;

    a {
      color: #000000;
      border-bottom: 2px solid #000000;
      text-decoration: none;

      &:hover, &:focus {
        border-bottom: 2px solid $base-red;
      }
    }
  }
}