{{ define "main" }}
    <article class="post-list">
        <div class="words-content">{{ .Content }}</div>
        <ul class="words-teasers">
            {{ $words := where .Site.RegularPages "Type" "in" "words" }}
            {{ range $words }}
                <li>
                    <article class="{{ .Type }}-teaser">
                        <a href="{{ .Permalink }}">{{- partial "wordsTeaser.html" . -}}</a>
                    </article>
                </li>
            {{ end }}
        </ul>
    </article>
{{ end }}