html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
    background: rgba(105, 105, 105, 0.2); 
    font-family: 'Fira Code', monospace;
    /* font-family: verdana, sans-serif */
}

body {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 { 
    font-size: 1.5rem;
}

h3 { 
    font-size: 1.25rem;
}

h4 {
    font-size: 1 rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.75rem;
}

p {
    margin: 10px 0;
}

blockquote {
    margin: 20px 30px 20px 20px;
    border-left: 5px solid rgba(156, 28, 32, 1);
    padding-left: 10px;
}

table {
    margin: 10px 0;
}

th {
    font-weight: bold;
    text-align: left;
}

th,
td {
    padding: 5px 5px;

}

em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

code, 
pre {
    font-family: monospace;
    padding: 10px 5px;
    margin: 10px 0;
}

ol,
ul {
    margin: 10px 0;
    padding-left: 30px;
}

ol {
    padding-left: 45px;
}

kbd > kbd {
    border-radius: 2px;
    padding: 2px;
    border: 1px solid black;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup > a {
    color: rgba(156, 28, 32, 1);
    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
}

mark {
    background-color:rgba(156, 28, 32, 0.95);
    color: white;
    padding: 1px;
}

abbr {
    text-decoration: none;
    border-bottom: 1px dashed rgba(156, 28, 32, 1);
}

p a,
li a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(156, 28, 32, 1);
    line-height: 1.5rem;
}

p a:hover,
li a:hover {
    color: rgba(156, 28, 32, 1);
    border-bottom: none;
}

@media (min-width: 768px) {
    body {
        padding-top: 3.5em;
        height: 95vh;
    }
}

  /*
  **main colors**
  
  Maximum Yellow: F0F600
  Dim Gray: 696969
  White: FFFFFF
  Black: 000000
  Ruby Red: 9C1C20
  */

hr {
    color: rgba(156, 28, 32, 1);
}

#site-header {
    background-color: rgba(156, 28, 32, 1);
    border-bottom: 1px solid #000000;
}

#site-header a {
    text-decoration: none;
    color: #ffffff;
}

#site-header h1 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px solid #F0F600;
    padding: 10px 10px;
}

#site-header .nav-wrapper {
    padding: 0;
}

#site-header .main-nav .menu-item {
    padding: 10px 10px;
    text-align: center;
    list-style: none;
    width: auto;
}

#site-header .main-nav .menu-item .active .text {
    border-bottom: 2px solid #F0F600;
}

@media (min-width: 768px) {
    #site-header {
        display: flex;
        height: 3.5em;
        line-height: 3.5em;
        position: fixed;
        width: 100%;
        max-width: 960px;
        z-index: 10000;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
    }    
    #site-header h1 {
        height: 20px;
        line-height: 20px;
        padding: 0 0 0 1.5em;
        margin: 0;
        border: none;
    }
    
    #site-header h1 a {
        font-size: 1em;
        color: #ffffff;
        text-decoration: none;
        display: block;
        letter-spacing: 0.15em;
        padding: 0 5px;
    }
    
    #site-header h1 a:hover {
        border-bottom: 2px solid #F0F600;
        padding-bottom: 2px;
    }
    
    
    #site-header .main-nav {
        flex: 1;
        border-left: 1px solid #000000;
        margin-left: 1.5em;
        overflow: hidden;
        height: inherit;
        padding-left: 1.5em;
    }
    
    #site-header .main-nav ul {
        margin: 0;
        padding-left: 0;
    }
    
    #site-header .main-nav ul li {
        display: inline-block;
        line-height: 1;
        border-left: 1px solid #000000;
        margin-left: 1em;
        padding-left: 1em;
    }
    
    #site-header .main-nav ul li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }
    
    #site-header .main-nav ul li a {
        border-bottom: 0;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0.25em;
        text-decoration: none;
        color: #ffffff;
    }
    
    #site-header .main-nav ul li a:hover,
    #site-header .main-nav ul li a.active {
        border-bottom: 2px solid #F0F600;
        padding-bottom: 2px;
    }
}



#side-header,
#content,
#site-footer {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

#content {
    flex: auto;
    position: relative;
    background-color: #ffffff;
}

#content .homepage-content {
    padding: 20px 20px;
}

#content .homepage-content h2 {
    font-size: 2rem;
}

#content .homepage-content .recent-posts {
    margin: 20px 0;
}

#content .homepage-content .recent-posts .words-teasers .words-teaser,
#content .homepage-content .recent-posts .photo-teasers .photo-teaser {
    list-style: none;
    margin: 20px 0;
}

#content .homepage-content .recent-posts .words-teasers .words-teaser {
    padding: 20px 20px 20px 0;
}

#content .homepage-content .recent-posts .words-teasers .words-teaser a {
    text-decoration: none;
    color: black;
    display: block;
}

#content .homepage-content .recent-posts .words-teasers .words-teaser a:hover {
    border-left: 5px solid rgba(156, 28, 32, 1);
    padding-left: 5px;
}

#content .homepage-content .recent-posts .words-teasers .words-teaser .words-teaser-content time {
    display: block;
    font-size: 0.8rem;
}

#content .homepage-content .recent-posts .words-teasers .words-teaser .words-teaser-content .words-teaser-content-summary {
    margin-top: 20px;
}

#content .homepage-content .recent-posts h3 {
    font-size: 1.5rem;
}

#content .homepage-content .recent-posts .recent-posts-view-more a,
#content .homepage-content .recent-photos .recent-photos-view-more a {
    display: block;
    padding: 20px 0;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

#content .homepage-content .recent-posts .recent-posts-view-more a:hover,
#content .homepage-content .recent-photos .recent-photos-view-more a:hover {
    border: 1px solid rgba(156, 28, 32, 1);
    background-color: rgba(156, 28, 32, 1);
    color: white;
} 

#site-footer {
    margin-top: auto;
    text-align: center;
    background-color: rgba(156, 28, 32, 0.95);
}

#site-footer p {
    margin: 5px 0;
    color: #ffffff;
}

.post-list {
    padding: 20px;
}

.post-list h2 {
    font-size: 2rem;
}

.post-list .words-content {
    margin: 10px 0;
}

.post-list ul li {
    list-style: none;
}

.post-list ul li .words-teaser {
    padding: 20px 20px 20px 0;
}

.post-list ul li .words-teaser h3 {
    font-size: 1.5rem;
}

.post-list ul li .words-teaser a {
    text-decoration: none;
    color: black;
    display: block;
}

.post-list ul li .words-teaser a:hover {
    border-left: 5px solid rgba(156, 28, 32, 1);
    padding-left: 5px;
}

.post-list ul li .words-teaser-content time {
    display: block;
    font-size: 0.8rem;
}

.post-list ul li .words-teaser-content-summary {
    margin-top: 20px;
}

#post {
    display: block;
    padding: 20px;
}

#post .post-meta {
    border-left: 5px solid rgba(156, 28, 32, 1);
    padding-left: 5px;
}

#post .post-meta h2 {
    font-size: 2rem;
}

#post .post-meta .topics-and-tags {
    margin: 10px 0 20px 0;
}

#post .post-meta .topics,
#post .post-meta .tags {
    font-size: 0.85rem;
}

#post .post-meta .topics li,
#post .post-meta .tags li {
    display: inline-block;
    list-style: none;
    margin: 2px 0;
}

#post .post-meta .topics li a,
#post .post-meta .tags li a {
    display: block;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid rgba(156, 28, 32, 1);
}

#post .post-meta .topics li a:hover,
#post .post-meta .tags li a:hover {
    border-bottom: none;
    padding-bottom: 1px;
}

#post .post-meta time {
    font-size: 0.85rem;
}

#post .post-content {
    border-bottom: 5px solid rgba(156, 28, 32, 1);
    margin: 10px 0;
    line-height: 1.5rem;
}

#post .post-content p {
    font-size: 1rem;
    margin: 10px 0;
}

#post .archive,
.post-list .archive {
    width: 100%;   
    margin: 10px 0;
}

#post .archive h3,
.post-list .archive h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

#post .archive ul li,
.post-list .archive ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 0;
}

#post .archive ul li a,
.post-list .archive ul li a  {
    color: black;
    border-bottom: 2px solid rgba(156, 28, 32, 1);
    text-decoration: none;
}

#post .archive ul li a:hover,
.post-list .archive ul li a:hover {
    border-bottom: none;
    padding-bottom: 2px;
}

.taxonomy-list {
    padding: 20px;
}

.taxonomy-list h2 {
    font-size: 2rem;
}

.taxonomy-list ul {
    display: block;
    margin: 10px 0;
}

.taxonomy-list ul li {
    margin-left: 30px;
    list-style-type: disclosure-closed;
    font-size: 1.5rem;
    margin: 20px 0 20px 30px;
}

.taxonomy-list ul li a {
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid rgba(156, 28, 32, 1);
}

.taxonomy-list ul li a:hover {
    border-bottom: none;
    padding-bottom: 2px;
}

.taxonomy-list ul li span {
    margin-top: 10px;
    font-size: 1rem;
}

.about-page,
.fun-things-page,
.special-page {
    padding: 20px;
}

.about-page h2,
.fun-things-page h2 {
    font-size: 2rem;
}

.about-page p,
.fun-things-page p {
    margin: 10px 0;
}

.error404 {
    text-align: center;
}

.error404 img {
    width: 100%;
}

.error404 h2 {
    font-size: 1.5rem;
}

.error404 h2 a{
    color: black;
    text-decoration: none;
    border-bottom: 5px solid rgba(156, 28, 32, 1);
}

.error404 h2 a:hover {
    color: rgba(156, 28, 32, 1);
    border-bottom: 5px solid #000000;
}

.error404 .text404 {
    margin-bottom: 20px;
}

.footnotes {
    margin: 10px 20px;
    font-size: 15px;
}

.footnotes a {
    color: #000000;
    border-bottom: 1px solid rgba(156, 28, 32, 1);
    text-decoration: none;
}