{{ define "main" }}
    <article class="homepage-content">
        {{ .Content }}
        <div class="recent-posts">
        <h2>Recent Posts</h2>
        {{ $words := where .Site.RegularPages "Type" "in" "words" }}
            {{ if gt (len $words) 0 }}
                <ul class="words-teasers">
                {{ range first 3 (.Paginate $words).Pages }}
                    <li class="words-teaser"><a href="{{ .Permalink }}">{{- partial "wordsTeaser.html" . -}}</a></li>
                {{ end }}
                </ul>
                <div class="recent-posts-view-more">
                    <a href="/words">View more posts</a>
                </div>
            {{ else }}
                <h3>No recent posts</h3>
            {{ end }}
        </div>
<!--         <div class="recent-photos">
            <h2>Recent Photos</h2>
            {{ $photos := where .Site.RegularPages "Type" "in" "photos" }}
                {{ if gt (len $photos) 0}}
                    <ul class="photo-teasers">
                    {{ range first 3 $photos }}
                        <li class="photo-teaser"><a href="{{ .Permalink }}">{{- partial "photosTeaser.html" . -}}</a></li>
                    {{ end }}
                    </ul>
                    <div class="recent-photos-view-more">
                        <a href="/photos">View more posts</a>
                    </div>
                {{ else }}
                    <h3>No recent photos</h3>
                {{ end }}
        </div> -->
    </article>
{{ end }}